html,
body {
  height: 100%;
  background-color: whitesmoke;
}
body {
  position: relative;
}

.header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* New Book Button Styling */
.newBook {
  position: absolute;
  margin-top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Montserrat', sans-serif;

  width: 100px;
  height: 30px;

  border-radius: 25px;
  border: none;
  outline: none;

  background-color: #457b9d;
  color: whitesmoke;

  transition-duration: 0.4s;
}

.newBook:hover {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}

.newbook:active {
  background-color: #1d3557;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}

.newBook:focus,
newBook:active:focus {
  background-color: #1d3557;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}

/* Form styling for adding a newBook & contents of form */

#form {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.formContainer {
  background-color: #2a9d8f;
  border-radius: 12px;

  width: 25%;
  height: 70vh;

  justify-self: center;
  align-self: center;
  text-align: center;

  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}

.exitForm {
  border-radius: 7px;
  border: none;
  outline: none;

  margin-right: 5px;
  margin-top: 5px;
  float: right;

  color: white;
  background-color: #e5383b;

  transition-duration: 0.4s;
}
.exitForm:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
}

#title {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  height: 10%;

  font-size: 30px;
  font-family: 'Montserrat', sans-serif;

  border-radius: 6px;
  border: none;
  outline: none;

  transition-duration: 0.4s;
}

#title:hover {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}
#title:focus {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}

#author {
  display: block;
  margin: auto;
  width: 80%;
  height: 10%;

  font-size: 30px;
  font-family: 'Montserrat', sans-serif;

  border-radius: 6px;
  border: none;
  outline: none;

  transition-duration: 0.4s;
}

#author:hover {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}
#author:focus {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}

#pages {
  display: block;
  margin: auto;
  width: 80%;
  height: 10%;

  font-size: 30px;
  font-family: 'Montserrat', sans-serif;

  border-radius: 6px;
  border: none;
  outline: none;

  transition-duration: 0.4s;
}

#pages:hover {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}
#pages:focus {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}

#readBook {
  display: block;
  text-align: center;

  font-size: 6vh;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
}

#read {
  height: 6vh;
  width: 6vh;
}

.submit {
  border-radius: 7px;
  border: none;
  outline: none;

  width: 80%;
  height: 7vh;

  background-color: #8d99ae;

  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
}
.submit:hover {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}

/* Book Display and each newBook instance card style */
#bookDisplay {
  display: inline-flex;
  flex-wrap: wrap;
}

.bookCard {
  position: relative;
  background-color: #5c4d7d;
  border: solid 5px #455e89;
  border-radius: 10px;

  text-align: center;
  height: 300px;
  width: 250px;
  margin: 30px 15px 0 15px;

  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
}

.cardTitle {
  font-size: 40px;
  font-family: Serif, sans-serif;
  color: whitesmoke;
  margin-top: 10px;
}

.cardAuthor {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  margin-top: 20px;
}

.cardPages {
  font-size: 20px;
  font-family: sans-serif;
  color: whitesmoke;

  margin-top: 15px;
}

.cardDelete {
  font-family: 'Montserrat', sans-serif;
  color: #212529;

  position: absolute;
  bottom: 0;
  right: 0;

  border-radius: 5px;
  border: none;
  outline: none;
  width: 90px;
  height: 23px;
  margin: 0 20px 10px 0;

  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);

  transition-duration: 0.2s;
}
.cardDelete:hover {
  background-color: #f94144;
}
.cardDelete:active {
  transform: translateY(1px);
}

.cardReadStatus {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;

  position: absolute;
  bottom: 0;
  left: 0;

  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0 0 10px 20px;

  width: 90px;
  height: 23px;

  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);

  transition-duration: 0.2s;
}

.cardReadStatus:hover {
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.7);
}
